
@import "./components/Header.scss";
@import "./components/Footer.scss";

main {
  z-index: 99;
  padding: 2em;
  background-color: var(--offWhite);


  .download-links {
    // display: flex;
    // flex-direction: row;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: repeat(3, 250px);
    flex-wrap: wrap;
    padding: 3em;
    // margin: 2em;
    gap: 2em;
    opacity: 0;
    transition: 2s;
    // background-color: red;

    h2 {
      text-align: center;
      background-color: var(--offWhite);
      width: 100%;
    
    }


    div {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 0.5em;
    }

    a {
      flex: 1;
      transition: 500ms;
      text-decoration: none;

      img {
        width: 200px;
        height: 200px;
        padding-bottom: 10px;
      }

      &:hover {
        transform: scale(1.1);
        color:red
      }
    }
  }

  .show {
    opacity: 1;
  }
}
