@import "./components/Header.scss";
@import "./components/Footer.scss";

$ids: "#Contact", "#home", "#Town-Meetings", "#additional";

@each $id in $ids {
  #{$id} {
    scroll-margin-top: 10em;
  }
}

main {
  font-family: "Jost";
  font-size: 1.2em;
  font-weight: 300;
  
  li{
    list-style-type: none;
  }

  @media (max-width: 400) {
    font-size: 0.8em;
  }

  .welcome {
    h1 {
      text-align: center;
    }

    background: var(--blue);
    color: white;
    display: flex;
    text-align: justify;
    padding: 2em;

    @media (max-width: 1000px) {
      text-align: center;
    }

    h1 {
      padding: 2em;

      @media (max-width: 1000px) {
        padding: 1em;
      }

    }

    .content {
      display: flex;
      flex-direction: row;
      margin-top: 1em;
      margin-bottom: 2em;
      justify-content: center;
      align-items: center;
      gap: 8em;
      flex-wrap: wrap;
      opacity: 0;
      transition: 2s;

      P {
        width: 50%;
        font-size: 1.5em;

        @media (max-width: 800px) {
          width: 90%;
        }
      }
    }

    .show {
      opacity: 1;
    }
  }

  .schedule-container {
    padding: 2em;
    color: black;
    background-color: var(--offWhite);
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    justify-content: space-evenly;
    margin: 3em;
    flex-wrap: wrap;
    gap: 3em;

    @media (max-width: 1000px) {
      padding: 1em;
    }

    .schedule {
      display: flex;
      gap: 1em;
      justify-content: center;
      align-items: center;
      opacity: 0;
      transform: translatex(-400px);
      transition: 1.5s;

      h3 {
        text-decoration: underline;
      }

      li {
        list-style-type: none;
        font-size: 1em;
        padding: 0.2em;
      }
    }

    .links {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      gap: 1em;
      opacity: 0;
      transform: translatex(-400px);
      transition: 1.5s;

      a {
        text-decoration: none;
        color: white;
        background: var(--blue);
        border-radius: 20px;
        padding: 1em;
        border: 2px solid var(--blue);
        transition: 0.5s;

        &:hover {
          transform: scale(1.1);
          color: var(--blue);
          background: white;
        }
      }
    }

    .slide {
      opacity: 1;
      transform: translate(0);
    }
  }


  .court-contact {
    background: var(--offWhite);
    color: black;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding-top: 3em;
    padding-bottom: 3em;
    word-wrap: break-word;


    li {
      padding: 0.5em;
    }


    .title {
      text-align: center;
      margin-bottom: 4em;
      opacity: 0;
      transition: 2s;

      > *{
        padding: .5em;
      }
    }

    .show-cort {
      opacity: 1;
    }

    .info {
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
      flex-wrap: wrap;
      // gap: 3em;
      width: 100%;

      .supervisor {
        display: flex;
        gap: 1em;
        max-width: 95%;
        opacity: 0;
        transform: translateX(-400px);
        transition: 1.3s;
      }

      .slide {
        opacity: 1;
        transform: translateX(0);
      }
    }
  }
  .section-4 {

    text-align: center;
    padding-top:2em;
    color: white;
    background-color: var(--blue);

  .info-container{
    padding-top: 3em;
    padding-bottom: 2em;
    color: white;
    background-color: var(--blue);
    display: grid;
    grid-template: 1fr 1fr / 1fr 1fr;
    justify-items: center;
    align-items: center;
    word-wrap: break-word;
    box-sizing: border-box; 
    overflow: hidden;
    
    
    @media (max-width: 1000px) {
    grid-template: repeat(4, minmax(auto, 1fr)) / 1fr;

  }
    
    @media (max-width: 600px) {
    font-size: small;
  }

    div {
      display: flex;
      gap: 1em;
      justify-content: center; 
      align-items: center;     
      max-width: 95%;
      text-align: center;
      padding: 2em;

      a{
        color: white;
        transition: color 200ms;

        &:hover{
          color: blue;
        }
      }
      
      ul{
        list-style-type: none;
      }

    }


    .clerk {
      opacity: 0;
      transform: translateX(400px);
      transition: 1.3s;
    }

    .building {
      opacity: 0;
      transform: translateX(-400px);
      transition: 1.3s;
    }

    .tax {
      opacity: 0;
      transform: translateX(400px);
      transition: 1.3s;
    }

    .Highway {
      opacity: 0;
      transform: translateX(-400px);
      transition: 1.2s;
    }

    .slide {
      opacity: 1;
      transform: translateX(0);
    }

    li {
      padding: 0.5em;
    }
  }
}

  .section-5 {
    text-align: center;
    padding: 3em;
    color: black;
    background-color: var(--offWhite);
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    justify-content: space-evenly;
    // margin: 3em;
    flex-wrap: wrap;
    gap: 3em;

    div {
      display: flex;
      gap: 1em;
      max-width: 95%;
      margin-right: 2em;
    }

    .Assessor {
      opacity: 0;
      transform: translateX(-400px);
      transition: 1.5s;
    }


    .dog-patrol {
      opacity: 0;
      transform: translateX(-400px);
      transition: 1.5s;
    }
    
    
    .supervisor{
      opacity: 0;
      transform: translateX(-400px);
      transition: 1.5s;
    }



    .slide {
      opacity: 1;
      transform: translateX(0);
    }

    li {
      padding: 0.5em;
    }
  }
  .additional-info {
    padding: 2em;
    color: white;
    background-color: var(--blue);
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    justify-content: center;
    flex-wrap: wrap;
    gap: 3em;
    color: var(--blue);

    @media (max-width: 1000px) {
      padding: 1em;
    }

    align-items: center;

    transition: 1.5s;

    h4 {
      text-align: center;
    }
  }

  .show {
    color: white;
  }
}
