---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header"
import Welcome from "../components/Welcome"
import Schedule from "../components/Schedule"
import Court from "../components/Court"
import Contacts1 from "../components/Contacts1"
import Contacts2 from "../components/Contacts2"
import Info from "../components/Info"
import Footer from "../components/Footer"
import "../styles/globals.scss"
import "../styles/Home.scss"
---

<Layout title="Welcome to Town of Triangle">
    <Header client:load/>
    <main>
        <Welcome client:load/>
        <Schedule client:load/>
        <Court client:load/>
        <Contacts1 client:load/>
        <Contacts2 client:load/>
        <Info client:load/>
        <Footer client:load/>        
      </main>
</Layout>
